.header {
    background-color: #7200e0;
}

.header__container {
    width: 1225px;
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.header__logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

